<div class="container">
    <div class="row">
        <div class="row row-cols md-3">
            <mat-card class="mat-card-movie">
                <mat-card-header>
                    <mat-card-title id="title">John Wick</mat-card-title>
                    <mat-card-subtitle id="subtitle">Thriller</mat-card-subtitle>
                </mat-card-header>
                <video width="320" height="240" controls>
                    <source src="https://vidshareb00787624.blob.core.windows.net/vid-share-b00787624/638089052232839026">
                </video>
                <mat-card-content>
                    <p>
                        <b>Publisher:</b> Lions Gate Entertainment
                    </p>
                    <p>
                        <b>Director:</b> Chad Stahelski
                    </p>
                    <p>
                        <b>Age Rating:</b> R
                    </p>
                    <p>
                        <b>Overview:</b> An ex-hit-man comes out of retirement to track down the gangsters that killed his dog and took his car.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div> <!-- container -->