<div class="container">
    <div class="row">
        <div class="row row-cols md-3">
            <mat-card class="mat-card-movie">
                <mat-card-header>
                    <mat-card-title id="title">Barn</mat-card-title>
                    <mat-card-subtitle id="subtitle"></mat-card-subtitle>
                </mat-card-header>
                <video width="320" height="240" controls>
                    <source src="https://vidshareb00787624.blob.core.windows.net">
                </video>
                <mat-card-content>
                    <p>
                        <b>Director:</b> 
                    </p>
                    <p>
                        <b>Runtime:</b> 
                    </p>
                    <p>
                        <b>IMDB Rating:</b> 
                    </p>
                    <p>
                        <b>Metascore:</b> 
                    </p>
                    <p>
                        <b>Actors:</b> 
                    </p>
                    <p>
                        <b>Gross:</b> 
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div> <!-- container -->