<div class="container">
    <div class="row">
        <div class="row row-cols md-3">
            <mat-card class="mat-card" *ngFor="let movie of movie_list | async" style="cursor: pointer"
                [routerLink]="['/movies', movie._id]">
                <mat-card-header>
                    <mat-card-title id="title">{{ movie.Series_Title }}</mat-card-title>
                    <mat-card-subtitle id="subtitle">{{ movie.Genre }}</mat-card-subtitle>
                </mat-card-header>
                <img class="img" mat-card-image src={{movie.Poster_Link}} alt="Movie Poster">
                <mat-card-content>
                    <p>
                        <b>Overview:</b> {{ movie.Overview }}
                    </p>
                    <p>
                        <b> {{movie.Review_Count }}</b> reviews available
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div> <!-- container -->

<div class="container"> 
    <div class="row">
        <div class="col-sm-12">
            <ng-container *ngIf="authService.isAuthenticated$ | async; else loggedOut">
                <h2>Please Enter the Movies Details</h2>
                <form [formGroup]="movieForm" (ngSubmit)="onAddMovie()">
                    <div class="form-group">
                        <label for="Series_Title">Title</label>
                        <input type="text" id="Series_Title" name="Series_Title" class="form-control"
                            formControlName="Series_Title">
                    </div>
                    <div class="form-group">
                        <label for="Director">Director</label>
                        <input type="text" id="Director" name="Director" class="form-control" formControlName="Director">
                    </div>
                    <div class="form-group">
                        <label for="Genre">Genre</label>
                        <input type="text" id="Genre" name="Genre" class="form-control" formControlName="Genre">
                    </div>
                    <div class="form-group">
                        <label for="Overview">Overview</label>
                        <input type="text" id="Overview" name="Overview" class="form-control" formControlName="Overview">
                    </div>
                    <div class="form-group">
                        <label for="Poster_Link">Image</label>
                        <input type="text" id="Poster_Link" name="Poster_Link" class="form-control"
                            formControlName="Poster_Link">
                    </div>
                    <div class="form-group">
                        <label for="Released_Year">Released Year</label>
                        <input type="text" id="Released_Year" name="Released_Year" class="form-control"
                            formControlName="Released_Year">
                    </div>
                    <div class="form-group">
                        <label for="Runtime">Runtime</label>
                        <input type="text" id="Runtime" name="Runtime" class="form-control" formControlName="Runtime">
                    </div>
                    <span>You must complete all fields</span>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </ng-container>
            <ng-template #loggedOut>
                <h2>Would you like to add a movie? Please login to do so</h2>
            </ng-template>
        </div>
    </div>
</div>

<div class="button-row">
    <button mat-raised-button (click)="previousPage()">Previous</button>
    <button mat-raised-button (click)="selectPage(1)"><<</button>
    <button mat-raised-button (click)="selectPage(1)">1</button>
    <button mat-raised-button (click)="selectPage(2)">2</button>
    <button mat-raised-button (click)="selectPage(3)">3</button>
    <button mat-raised-button (click)="selectPage(4)">4</button>
    <button mat-raised-button (click)="selectPage(5)">5</button>
    <button mat-raised-button (click)="selectPage(6)">6</button>
    <button mat-raised-button (click)="selectPage(7)">7</button>
    <button mat-raised-button (click)="selectPage(8)">8</button>
    <button mat-raised-button (click)="selectPage(9)">9</button>
    <button mat-raised-button (click)="selectPage(10)">10</button>
    <button mat-raised-button (click)="lastPage()">>></button>
    <button mat-raised-button (click)="nextPage()">Next</button>
</div>

<div class="button-row2">
    <input textarea matInput placeholder="Enter Page Number" type="text" #page />
    <button mat-raised-button (click)="selectCustomPage(page.value)">Search</button>
</div>