<img src="../assets/images/home_page_image.jpg" alt="Movie Background" />
<h1>Welcome to the MovieDB Directory!</h1>
<h3>Search from a collection of 1000 movies, create reviews and get up to date with the latest industry news. </h3>

    <mat-grid-list cols="3" rowHeight="100px">
        <mat-grid-tile
            *ngFor="let tile of tiles"
            [colspan]="tile.cols"
            [rowspan]="tile.rows"
            [style.background]="tile.color">
            <a href={{tile.link}}>Hollywood Reporter</a>
            <img src={{tile.img}} alt="Movie Image">
        </mat-grid-tile>
      </mat-grid-list>

